<ion-header translucent>
  <ion-toolbar> 
    <ion-title>Employees</ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-icon name="information-circle-outline" slot="end" size="large"
        class="icon-toolbar-padding" color="primary" (click)="openImplModal()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content" fullscreen>
  <ion-header collapse="condense" translucent>              
    <ion-toolbar>      
      <ion-title size="large">People</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-icon name="information-circle-outline" slot="end" size="large"
          class="icon-toolbar-padding" color="primary" (click)="openImplModal()">
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-list>
      <ion-item
        *ngFor="let employee of employees; trackBy: trackByFn"
        routerLink="/tabs/employees/detail/{{employee.id}}">
        <ion-avatar slot="start">
          <img src="assets/avatars/{{ employee.id }}-thumb.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
          <p>{{ employee.title }}</p>
          <p>{{ employee.office }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-spinner name="crescent"></ion-spinner>
</ion-content>
