<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)="openImplModal()" >
        <ion-icon name="information-circle-outline"  size="large"
          class="icon-toolbar-padding" color="primary">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  <!-- <ion-icon name="options" slot="end" size="large"
    class="icon-toolbar-padding" color="primary" (click)="openSearchFilter()">
  </ion-icon>
  -->
  </ion-toolbar>
</ion-header> 

<ion-content id="content" fullscreen>
  <!-- <ion-searchbar placeholder="Search Name..." [(ngModel)]="currentSearchQuery" 
    (ionChange)="searchQueryChanged($event.target.value)"></ion-searchbar> -->
  <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
    (scrolledIndexChange)="checkNextPage($event, '')">
    
    <ion-header collapse="condense">              
      <ion-toolbar>
        <ion-buttons collapse="true" (click)="openImplModal()" slot="end">
          <ion-button slot="end">
            <ion-icon name="information-circle-outline"  size="large"
              class="icon-toolbar-padding" color="primary" (click)="openImplModal()">
            </ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title size="large">People</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item
        *cdkVirtualFor="let employee of employees; trackBy: trackByFn"
        routerLink="/tabs/employees/detail/{{employee.id}}"
      >
        <ion-avatar slot="start">
          <img src="assets/avatars/{{ employee.id }}-thumb.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
          <p>{{ employee.title }}</p>
          <p>{{ employee.office }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-spinner name="crescent" *ngIf="showLoading"></ion-spinner>
  </cdk-virtual-scroll-viewport>
</ion-content>
