
ion-avatar {
  width: 42px;
  height: 42px;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
}

cdk-virtual-scroll-viewport ::ng-deep .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}

ion-spinner {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}