  <ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (product of productsInCart; track product) {
  <ion-item lines="none" class="product-items">
      <ion-thumbnail slot="start" class="thumbnail">
        <img src="{{ product.image }}"/>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>
          <span>Qty {{ product.quantity }}</span>
          <span style="float: right;">${{ product.price * product.quantity }}</span>
        </p>
      </ion-label>
      </ion-item>
}
    </ion-list>
    <hr class="solid-divider">
    <ion-list>
    <ion-item class="gray" lines="none">
      <ion-label class="label-margin">Subtotal</ion-label>
      <ion-note slot="end">${{ subtotal }}</ion-note>
    </ion-item>
    <ion-item class="gray" lines="none">
      <ion-label class="label-margin">Shipping</ion-label>
      <ion-note slot="end">$5</ion-note>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label-margin" color="dark"><strong>Total</strong></ion-label>
      <ion-note color="dark" slot="end"><strong>${{ total }}</strong></ion-note>
    </ion-item>
    </ion-list>

    @if (displayApplePay) {
<div class="apple-pay-button apple-pay-button-black" (click)="triggerApplePay()"
     >
    </div>
}

    @if (displayGooglePay) {
<ion-button color="dark" class="button-google-pay" (click)="triggerGooglePay()"
     >
      <ion-img src="/assets/store/google-pay.svg"></ion-img>
    </ion-button>
}

    <p class="payment-note">Note: This is for demonstration purposes only. 
      Your card will not be charged and no items will be shipped.</p>
</ion-content>
