<ion-content>
  <div class="top-background">
    <img src="/assets/ionifits-icon.png" alt="Ionifits logo" loading="lazy" />
  </div>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome to Ionifits</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="button-container">
          <ion-button (click)="login()" strong shape="round">
            Log in
          </ion-button>
          <a class="link" (click)="skipLogin()">Skip</a>
        </div>

        <ion-icon style="float:right" name="information-circle-outline" size="large"
          class="icon-toolbar-padding" color="primary" (click)="openImplModal()">
        </ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
