<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header *ngIf="expenses.length > 0">
      <ion-label>Completed Expenses</ion-label>
    </ion-list-header>
        
  <ion-list *ngIf="expenses.length > 0">
    <ion-item-sliding *ngFor="let expense of expenses; index as position">
    <ion-item (click)="openExpense(expense.id)">
      <ion-thumbnail slot="start" *ngIf="expense.receipt && expense.receipt.webviewPath">
        <ion-img src="{{expense.receipt.webviewPath}}"></ion-img>
      </ion-thumbnail>
      <ion-icon slot="start" name="briefcase" *ngIf="!expense.receipt.webviewPath"></ion-icon>
      <ion-label>
        <h2>{{expense.merchant}}</h2>
        <p>{{expense.category}}</p>
        <p>{{expense.date | date }}</p>
      </ion-label>  
      <ion-note color="success" slot="end">${{expense.cost}}</ion-note>
      </ion-item>
        <ion-item-options side="end">
        <ion-item-option (click)="removeExpense(expense, position)" color="danger">Remove</ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<ion-card *ngIf="expenses.length === 0">
  <ion-card-header>
    <ion-card-title><ion-icon name="briefcase"></ion-icon>No expenses found</ion-card-title>
    <ion-card-subtitle>Add one below!</ion-card-subtitle>
  </ion-card-header>
</ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="newExpense()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>