<ion-header slot>
  <ion-toolbar>
          <ion-button (click)="closeModal(true)" name="close" slot="start" fill="clear" color="dark" size="large">
             <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
    
    <ion-title slot>New Expense</ion-title>
      <ion-button (click)="closeModal()" slot="end" fill="solid">Add</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-input placeholder="Merchant" [(ngModel)]="newExpense.merchant" name="merchant"></ion-input>
</ion-item>
<ion-item>
  <ion-label>$</ion-label>
  <ion-input placeholder="0.00" type="number" [(ngModel)]="newExpense.cost" slot></ion-input>
</ion-item>
<ion-item>
   <ion-label>Date</ion-label>
   <ion-datetime [(ngModel)]="newExpense.date"></ion-datetime>
   </ion-item>

<ion-list-header>
      <ion-label>Details</ion-label>
    </ion-list-header>
<ion-list>
   <ion-item>
   <ion-label>Category</ion-label>
   <ion-select role="combobox" placeholder="Select One" [(ngModel)]="newExpense.category" slot>
      <ion-select-option value="Office">Office Expense</ion-select-option>
      <ion-select-option value="Parking">Parking</ion-select-option>
      <ion-select-option value="Recruiting">Recruiting</ion-select-option>
      <ion-select-option value="Shipping">Shipping</ion-select-option>
      <ion-select-option value="Software">Software</ion-select-option>
      <ion-select-option value="Travel - Airfare">Travel - Airfare</ion-select-option>
      <ion-select-option value="Travel - Hotel">Travel - Hotel</ion-select-option>
      <ion-select-option value="Travel - Meals">Travel - Meals</ion-select-option>
    </ion-select>
   </ion-item>
   <ion-item slot>
   <ion-label>Notes</ion-label>
   <ion-input placeholder="Additional details..." [(ngModel)]="newExpense.notes" slot></ion-input>
   </ion-item>
</ion-list>   
   <ion-list-header>
      <ion-label>Upload Receipt</ion-label>
    </ion-list-header>

    <ion-item>
      <img src="assets/image-placeholder.jpg">
  </ion-item>
   
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="captureReceipt()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
