<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item detail routerLink="/tabs/employees/detail/3">
      <ion-avatar slot="start">
        <img src="https://randomuser.me/api/portraits/thumb/men/37.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Herbert Simmons</h2>
        <p>View your profile</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label class="ion-text-uppercase" color="ios-lh-labl-gray">Communications</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-icon name="send" slot="start"  color="medium"></ion-icon>
      <ion-label>Push Notifications</ion-label>
      <ion-toggle slot checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"  color="medium"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-toggle slot></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="text" slot="start" color="medium"></ion-icon>
      <ion-label>SMS</ion-label>
      <ion-toggle slot checked></ion-toggle>
    </ion-item>
  </ion-list>

<ion-card>
  <ion-card-header>
    <ion-card-title>Ionifits Demo App</ion-card-title>
    <ion-card-subtitle>Version 0.0.1</ion-card-subtitle>
  </ion-card-header>
    
  <ion-card-content>
    An Ionic Angular 4 demo app built by the Ionic team to demonstrate various performance capabilities.
    <p style="padding-top: 10px"> 
      Interested in learning how Ionic can help your business?
    </p>
    <div class="center">
      <ion-button fill="clear" 
          href="https://ionicframework.com/sales?product_of_interest=Ionic%20Enterprise%20Engine">
          Contact Us</ion-button>
    </div>
  </ion-card-content>
</ion-card>

</ion-content>