<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end">
      <ion-button class="badge-button" fill="clear">
        <ion-icon size="large" name="cart"></ion-icon>
        <ion-badge class="badge-single-digits" color="danger">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>Company Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons collapse="true" slot="end">
        <ion-button class="badge-button" fill="clear" (click)="openCartModal(1)">
          <ion-icon size="large" name="cart"></ion-icon>
          <ion-badge class="badge-single-digits" color="danger">{{ cart.length }}</ion-badge>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Company Store</ion-title>
    </ion-toolbar>
  </ion-header>

  <h4 class="category-header">Bestsellers and more</h4>
  
  <ion-slides id="slider" [options]="slideOptions" class="category-slider">
    <ion-slide class="item-detail">
      <img src="/assets/store/capacitor-snapback.png" />
      <div style="float: left">
        <p class="detail-name">Capacitor Snapback</p>
        <p class="detail-price">$32</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="/assets/store/portals-tote.png" />
      <div style="float: left">
        <p class="detail-name">Portals Tote</p>
        <p class="detail-price">$24</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="/assets/store/capacitor-mask.png" />
      <div style="float: left">
        <p class="detail-name">Capacitor Mask</p>
        <p class="detail-price">$12</p>
      </div>
    </ion-slide>
  </ion-slides>

  <h4 class="category-header">New & Featured</h4>

  <ion-grid class="grid">
    <ion-row>
      <ion-col style="position: relative;" *ngFor="let product of newProducts | slice:0:2">
        <span (click)="addToCart(product)">
          <img src="{{ product.image }}"  />
          <ion-button class="product-button" fill="clear">
            <ion-icon name="add-circle-outline" class="product-icon"></ion-icon>
          </ion-button>
        </span>
        <p class="detail-name">{{ product.name }}</p>
        <p class="detail-price">${{ product.price }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="position: relative;" *ngFor="let product of newProducts | slice:2:4">
        <span (click)="addToCart(product)">
          <img src="{{ product.image }}"  />
          <ion-button class="product-button" fill="clear">
            <ion-icon name="add-circle-outline" class="product-icon"></ion-icon>
          </ion-button>
        </span>
        <p class="detail-name">{{ product.name }}</p>
        <p class="detail-price">${{ product.price }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h4 class="category-header">Sale - Up to 50% Off</h4>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <img src="/assets/store/ionitron-shirt.png" />
        <div style="float: left">
          <p class="detail-name">Ionitron Shirt</p>
          <p class="detail-price">$14</p>
        </div>
      </ion-col>
      <ion-col>
        <img src="/assets/store/ionic-hoodie.png" />
        <div style="float: left">
          <p class="detail-name">Ionic Hoodie</p>
          <p class="detail-price">$30</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/store/ionic-shirt.png" />
        <div style="float: left">
          <p class="detail-name">Ionic Logo Shirt</p>
          <p class="detail-price">$19</p>
        </div>
      </ion-col>
      <ion-col>
        <img src="/assets/store/ionitron-sticker.png" />
        <div style="float: left">
          <p class="detail-name">Ionitron Sticker</p>
          <p class="detail-price">$1</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h4 class="category-header">Recommended for you</h4>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <img src="/assets/store/stencil-shirt.png" />
        <div style="float: left">
          <p class="detail-name">Stencil Longsleeve</p>
          <p class="detail-price">$40</p>
        </div>
      </ion-col>
      <ion-col>
        <img src="/assets/store/stencil-buttons.png" />
        <div style="float: left">
          <p class="detail-name">Stencil Buttons</p>
          <p class="detail-price">$4</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="/assets/store/ionic-sticker.png" />
        <div style="float: left">
          <p class="detail-name">Ionic Sticker</p>
          <p class="detail-price">$3</p>
        </div>
      </ion-col>
      <ion-col>
        <img src="/assets/store/ionitron-shirt.png" />
        <div style="float: left">
          <p class="detail-name">Ionitron Shirt</p>
          <p class="detail-price">$29</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
