<ion-header>
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end">
      <ion-icon name="information-circle-outline" slot="start" size="large"
      class="icon-toolbar-padding" color="primary" (click)="openImplModal()">
      </ion-icon>
      <ion-button class="badge-button" fill="clear" (click)="openCartModal()">
        <ion-icon size="large" name="cart"></ion-icon>
        <ion-badge class="badge-single-digits" color="danger">{{ calculateCartQuantity() }}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>Company Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons collapse="true" slot="end">
        <ion-button class="badge-button" fill="clear" (click)="openCartModal()">
          <ion-icon size="large" name="cart"></ion-icon>
          <ion-badge class="badge-single-digits" color="danger">{{ calculateCartQuantity() }}</ion-badge>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Company Storez</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Display Bestsellers using slides on mobile and a static grid on desktop -->
  <h4 class="category-header">Bestsellers and more</h4>

  @if (!isDesktop) {
<swiper-container id="slider" [autoplay]="true" [modules]="swiperModules">
    @for (product of bestsellerProducts; track product) {
  <swiper-slide class="item-detail" (click)="addToCart(product)">
      <img src="{{ product.image }}" />
      <div style="float: left">
        <p class="detail-name">{{ product.name }}</p>
        <!-- A little bit of fun -->
        @if (product.name !== 'Ionic Headband') {
<p class="detail-price">${{product.price }}</p>
}
        @if (product.name === 'Ionic Headband') {
<p class="detail-price">
          <span class="headband">$999</span>
          <span class="sold"> SOLD OUT</span>
        </p>
}
      </div>
    </swiper-slide>
}
  </swiper-container>
}

  @if (isDesktop) {
<ion-grid class="grid">
    <ion-row>
      @for (product of bestsellerProducts; track product) {
  <ion-col size="12" size-xs="6" size-lg="3" size-xl="3">
        <img src="{{ product.image }}" class="grid-img" (click)="addToCart(product)" />
        <p class="detail-name">{{ product.name }}</p>
        <!-- A little bit of fun -->
        @if (product.name !== 'Ionic Headband') {
<p class="detail-price">${{product.price }}</p>
}
        @if (product.name === 'Ionic Headband') {
<p class="detail-price">
          <span class="headband">$999</span>
          <span class="sold"> SOLD OUT</span>
        </p>
}
      </ion-col>
}
    </ion-row>
  </ion-grid>
}

  <h4 class="category-header">New & Featured</h4>

  <ion-grid class="grid">
    <ion-row>
      @for (product of newProducts; track product) {
  <ion-col class="col-adjust" size="12" size-xs="6" size-lg="3" size-xl="3">
        <img src="{{ product.image }}" class="grid-img" (click)="addToCart(product)" />
        <p class="detail-name">{{ product.name }}</p>
        <p class="detail-price">${{ product.price }}</p>
      </ion-col>
}
    </ion-row>
  </ion-grid>

  <h4 class="category-header">Sale - Up to 50% Off</h4>

  <ion-grid class="grid">
    <ion-row>
      @for (product of saleProducts; track product) {
  <ion-col class="col-adjust" size="12" size-xs="6" size-lg="3" size-xl="3">
        <img src="{{ product.image }}" class="grid-img" (click)="addToCart(product)" />
        <p class="detail-name">{{ product.name }}</p>
        <p class="detail-price">${{ product.price }}</p>
      </ion-col>
}
    </ion-row>
  </ion-grid>

  <h4 class="category-header">Recommended for you</h4>

  <ion-grid class="grid">
    <ion-row>
      @for (product of recommendedProducts; track product) {
  <ion-col class="col-adjust" size="12" size-xs="6" size-lg="3" size-xl="3">
        <img src="{{ product.image }}" class="grid-img" (click)="addToCart(product)" />
        <p class="detail-name">{{ product.name }}</p>
        <p class="detail-price">${{ product.price }}</p>
      </ion-col>
}
    </ion-row>
  </ion-grid>
</ion-content>
