.badge-single-digits {
  position: absolute;
  top: 0px;
  right: -5px;
  font-size: 0.6em;
  --padding-start: 5px;
  --padding-end: 5px;
}

.badge-double-digits {
  position: absolute;
  top: 0px;
  right: -5px;
  font-size: 0.6em;
  --padding-start: 3px;
  --padding-end: 3px;
}

.category-header {
  padding-left: 16px;
}

.grid {
  padding-left: 11px;
}

.grid-img {
  height: 80%;
  width: 80%;
}

.category-slider {
  margin-top: 1rem;

  ion-slide {

      width: 60%;
      margin-right: 10px;
      margin-left: 16px;

      display: inline;
      flex-direction: column;
      justify-content: center;

      img {
          border-radius: 22px;
      }
  }
}

.detail-name {
  margin-top: 5px;
}

.detail-price {
  margin-top:-15px;
  color: #888;
  font-size: 14px;
  float: left;
}

.headband {
  text-decoration: line-through;
}

.sold {
  color: red;
}

// Add some space on mobile between each product card
.col-adjust {
  margin-bottom: 20px;
}
