<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Ionifits!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img src="/assets/iconifits.svg" height="200" width="500">

  <ion-button expand="block" (click)="login()" color="secondary" padding size="large">Log in with Azure</ion-button>

  <ion-button expand="block" (click)="login()" color="secondary" padding size="large">Log in with Auth0</ion-button>

  <ion-button expand="block" (click)="login()" color="secondary" padding size="large">Log in with AWS</ion-button>


  <ion-item-divider></ion-item-divider>

  <ion-button expand="block" (click)="login()" color="secondary" padding size="large">Bypass Login</ion-button>

</ion-content>
