<ion-header>
  <ion-toolbar>
    <ion-title>Implementation Details</ion-title>
    <ion-button (click)="closeModal()" slot="end" fill="clear">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label color="ios-lh-labl-gray">Description</ion-label>
    </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label text-wrap>{{ description }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label color="ios-lh-labl-gray">UI Components</ion-label>
    </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let comp of uiComps;">
      <ion-label text-wrap>{{ comp }}</ion-label>
    </ion-item>
    <ion-item *ngIf="uiComps.length === 0">
      <ion-label text-wrap>None</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label color="ios-lh-labl-gray">Native Features</ion-label>
    </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let feature of nativeFeatures">
      <ion-label text-wrap>{{ feature }}</ion-label>
    </ion-item>
    <ion-item *ngIf="nativeFeatures.length === 0">
      <ion-label text-wrap>None</ion-label>
      </ion-item>
  </ion-list>
</ion-content>