ion-content {
  --background: #F2F2F7;
}

/* Workaround for Ionic bug where Card color is set to gray due to 
   ion-content background rule above */
ion-card {
  --background: white !important;
}

.center {
  text-align: center;
}

.card-padding{
  padding-top: 30px;
}

.log-in-padding {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

.link {
  font-size: 14px;
  text-transform: uppercase;
}
